<div id="dbc_stack"></div>

<!-- <h1>Questions:</h1>
<% #if @questions %>
  <% #@questions.each do |question| %>
    <ul>
      <li> <%= #question.content %>, <%= #User.find(question.user_id).name %> <%= #link_to "See Answers", question_path(question.id) %></li>
    </ul>
  <%#end%>
<%#end%>
<br>
<%= #link_to "Ask a question?", new_question_path %> -->