<ul>
  <li><%= @question.content %>, <%= User.find(question.user_id).name %> <%= link_to "Remove", remove_question_path(@question.id), method: :delete %></li>
</ul>
<br>
<%= link_to "Ask another question?", new_question_path if current_user %>